<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        

          <!-- Google result text-->
        <title>Haseeb Chaudhary creative developer</title>
        <!-- Google result description-->
        <meta name="description" content="I build Web Applications, creatively">

        <!--<meta property="og:title" content="Le Wagon - The French innovative coding school">
        <meta property="og:image" content="facebook-card.jpg">
        <meta property="og:description" content="Le Wagon is the best French coding school for entrepreneurs. Checkout by yourself the projects of our students. You will be impressed.">
        <meta property="og:site_name" content="Le Wagon"/>-->
        
        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

        <!-- Fontawesome -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    </head>

    <div class="container">

        <div class="card text-center">
            <h1>Haseeb Chaudhary</h1>
            <br>
            <br>
            <table class="abouterika">
                <tbody>
                    <tr>
                        <td>
                            <h3>Web Application Developer</h3>
                            <p>Lorem ipsum dolor sit amet, ei mei aperiri vulputate. Agam falli discere no sit. Copiosae aliquando dissentias mea te. Vis ut labitur voluptatibus, sit eu verear appareat. No cum atqui soluta omittam, mel case duis assueverit ex, vix viderer facilis splendide at.

                            Sed te perfecto necessitatibus, usu ut paulo appareat mandamus. His et assum semper nusquam, no simul oblique efficiantur mea. Ne recusabo hendrerit mea, te his debitis docendi. Case docendi placerat sed te, eum et vide utamur. Ius cu constituto definitionem conclusionemque, ex quem prima saepe ius, cu per inani nonumy virtute.</p>
                        </td>
                        <td>
                            <img src="https://images.unsplash.com/photo-1527706822579-d6247a696f8c" class="img-responsive" alt="Responsive image" height="500" width="600" >
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

   

</html>