<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        

          <!-- Google result text-->
        <title>Erika Chaudhary creative writer</title>
        <!-- Google result description-->
        <meta name="description" content="I write about personal experiences within a humanist and global context">

        <!--<meta property="og:title" content="Le Wagon - The French innovative coding school">
        <meta property="og:image" content="facebook-card.jpg">
        <meta property="og:description" content="Le Wagon is the best French coding school for entrepreneurs. Checkout by yourself the projects of our students. You will be impressed.">
        <meta property="og:site_name" content="Le Wagon"/>-->
        
        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

        <!-- Fontawesome -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    </head>

    <div class="container">

        <div class="card text-center">
            <h1>About Erika Chaudhary</h1>
            <table class="abouterika">
                <tbody>
                    <tr>
                        <td>
                            <h3>Writer </h3>
                            <p>Humanity finds a mysterious, obviously artificial, object buried beneath the Lunar surface and, with the intelligent computer H.A.L. 9000, sets off on a quest.</p>
                        </td>
                        <td>
                            <img src="https://images.unsplash.com/photo-1544204116-abc6e9102694" class="img-fluid" alt="Responsive image" height="500" width="400" >
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

   

</html>