<p> Erika's blog page </p>
<div class="container">
    <div class="row">
      <div class="span4"></div>
      <div class="span4"><img src="ErikaChaudhary.png" /></div>
      <div class="span4"></div>
    </div>
</div>