<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1>
        
          <!-- Google result text-->
        <title>Erika Chaudhary creative writer</title>
        <!-- Google result description-->
        <meta name="description" content="I write about personal experiences within a humanist and global context">

        <!--<meta property="og:title" content="Le Wagon - The French innovative coding school">
        <meta property="og:image" content="facebook-card.jpg">
        <meta property="og:description" content="Le Wagon is the best French coding school for entrepreneurs. Checkout by yourself the projects of our students. You will be impressed.">
        <meta property="og:site_name" content="Le Wagon"/>-->

    </head>

  <body>

    <div class="container bg-white">

      <div class="bg-white">
        <h1>Erika Chaudhary</h1>
        <p>My profile page...coming soon</p>
      </div>

    </div>

  </body>
  



</html>
