<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        

          <!-- Google result text-->
        <title>Haseeb Chaudhary creative developer</title>
        <!-- Google result description-->
        <meta name="description" content="I build Web Applications, creatively">

        <!--<meta property="og:title" content="Le Wagon - The French innovative coding school">
        <meta property="og:image" content="facebook-card.jpg">
        <meta property="og:description" content="Le Wagon is the best French coding school for entrepreneurs. Checkout by yourself the projects of our students. You will be impressed.">
        <meta property="og:site_name" content="Le Wagon"/>-->

<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

    </head>
  <body>
 
    <div class="col-xs-12 col-lg-3">
        <div class="about-card">
            <%= image_tag("ceziam.jpg", class: "object-fit_cover") %>
            <div class="overlay-text">
                <h1>"Some omspiring stuf about Ceziam."</h1>
                <p>Mixing deep tech and creative design is a live long journey. Don't be shy about getting intouch.</p>
                    <div class="team-title">Haseeb Chaudhary - Inspired Design
                    </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-lg-3">
        <div class="about-card">
            <%= image_tag("airbnb.jpg", class: "object-fit_cover") %>
            <div class="overlay-text">
                <h1>"Book unique homes and experiences all over the world.."</h1>
                <p>A clone of the well known Airbnb site, login, add a flat, take a booking, dashboard as well a geolocator.</p>
                    <div class="team-title">Haseeb Chaudhary - Inspired Design
                    </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-lg-3">
        <div class="about-card">
            <%= image_tag("cool_pic.jpg", class: "object-fit_cover") %>
            <div class="overlay-text">
                <h1>"Inspiring stuff about Marpillero."</h1>
                <p>Mixing deep tech and creative design is a live long journey. Don't be shy about getting intouch.</p>
                    <div class="team-title">Haseeb Chaudhary - Inspired Design
                    </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-lg-3">
        <div class="about-card">
            <%= image_tag("cool_pic.jpg", class: "object-fit_cover") %>
            <div class="overlay-text">
                <h1>"Inspiring stuff about Erika Blog"</h1>
                <p>Mixing deep tech and creative design is a live long journey. Don't be shy about getting intouch.</p>
                    <div class="team-title">Haseeb Chaudhary - Inspired Design
                    </div>
            </div>
        </div>
    </div>











  </body>
</html>







