<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        

          <!-- Google result text-->
        <title>Haseeb Chaudhary creative developer</title>
        <!-- Google result description-->
        <meta name="description" content="I build Web Applications, creatively">

        <!--<meta property="og:title" content="Le Wagon - The French innovative coding school">
        <meta property="og:image" content="facebook-card.jpg">
        <meta property="og:description" content="Le Wagon is the best French coding school for entrepreneurs. Checkout by yourself the projects of our students. You will be impressed.">
        <meta property="og:site_name" content="Le Wagon"/>-->

<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

    </head>
<body>
<div class="about-content-container">
    <div class="row" id="about-card-container">
        <div class="title-projects text-centre"><h1>Projects</h1>
            <p>Just a small selection of creative projects I have coded from scratch, full stack...click and explore</p>
        </div>
            <div class="col-xs-12 col-lg-4">
                <a target="_blank" href="https://ceziam.com">
                <div class="about-card">
                    <%= image_tag("ceziam.jpg", class: "object-fit_cover") %>
                    <div class="overlay-text">
                        <h1>"Detect Your Core Cyber Security Risks."</h1>
                        <p>Mixing deep tech and creative design is a life long journey. Don't be shy about getting intouch.</p>
                            <div class="team-title">Haseeb Chaudhary - Inspired Design
                            </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-xs-12 col-lg-4">
                <a target="_blank" href="https://has-airbnb-clone.herokuapp.com/">
                <div class="about-card">
                    <%= image_tag("airbnb.jpg", class: "object-fit_cover") %>
                    <div class="overlay-text">
                        <h1>"Book unique homes and experiences all over the world.."</h1>
                        <p>A clone of the well known Airbnb site, login, add a flat, take a booking, dashboard as well a geolocator.</p>
                            <div class="team-title">Haseeb Chaudhary - Inspired Design
                            </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-xs-12 col-lg-4">
                <a target="_blank" href="https://ceziam.com/articles">
                <div class="about-card">
                    <%= image_tag("blog-app2.jpg", class: "object-fit_cover") %>
                    <div class="overlay-text">
                        <h1>"Expand your world and reach the world."</h1>
                        <p>A easy to use and beautiful bloggging coded from scratch.</p>
                            <div class="team-title">Haseeb Chaudhary - Inspired Design
                            </div>
                    </div>
                </div>
                </a>
            </div>
    </div>
</div>

<p class="test">
Hello world
</p>

</body>
</html>







