<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        

          <!-- Google result text-->
        <title>Haseeb Chaudhary creative developer</title>
        <!-- Google result description-->
        <meta name="description" content="I build Web Applications, creatively">

        <!--<meta property="og:title" content="Le Wagon - The French innovative coding school">
        <meta property="og:image" content="facebook-card.jpg">
        <meta property="og:description" content="Le Wagon is the best French coding school for entrepreneurs. Checkout by yourself the projects of our students. You will be impressed.">
        <meta property="og:site_name" content="Le Wagon"/>-->

<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    
    </head>
<body>

<table border="1" align="center" width="70%">
<caption>Picture Gallery</caption>
<tr>
<td>
<a  href="/images/livingroombefore_big.JPG" alt="front_bedroom_big" width="300" height="400" class="thumbnail_whiteborder">
<img src="/images/livingroombefore_small.jpg" alt="front_bedroom" width="200" height="300"> 
</a>
</td>

<td>
<a href="/images/hallway-before.jpg" alt="front_bedroom_big" width="300" height="400" class="thumbnail_whiteborder">
<img src="/images/hallway-before_small.jpg" alt="front_bedroom" width="200" height="300"> 
</a>
</td>
<td>
<a href="/images/loft_big.jpg" alt="front_bedroom_big" width="300" height="400" class="thumbnail_whiteborder">
<img src="/images/loft_small.jpg" alt="front_bedroom" width="200" height="300"> 
</a>
</td>
</tr>

<tr>
<td>
<br>
<a href="/images/front_bedroom_big.jpg" alt="front_bedroom_big" width="300" height="400" class="thumbnail_whiteborder">
<img src="/images/front_bedroom_small.jpg" alt="front_bedroom" width="200" height="300"> 
</a>
</td>
<td>
<br>
<a href="/images/front_bedroom_big.jpg" alt="front_bedroom_big" width="300" height="400" class="thumbnail_whiteborder">
<img src="/images/front_bedroom_small.jpg" alt="front_bedroom" width="200" height="300"> 
</a>

</td>
<td>
<br>
<a href="/images/front_bedroom_big.jpg" alt="front_bedroom_big" width="300" height="400" class="thumbnail_whiteborder">
<img src="/images/front_bedroom_small.jpg" alt="front_bedroom" width="200" height="300"> 
</a>
</td>
</tr>
</table> 
<br>
 

</body>
</html>







