body {  
    background-color: white;
}

.card{
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  }

.text-center{
text-align: center;
}

  .centerimage {
    width: 50%;
    margin: 0 auto;
    margin-top: 180px;

  }



.abouterika{
    font-weight: 300;
    font-size: 15px;
    line-height: 1.6em;
    
  }
.abouterika img{
    width: 200px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  }
.abouterika td{
    padding: 10px;
    width: 50%;
    text-align: center;
    }
.erika-cto{
    padding: 40px;
    text-align: center;
    font-weight: 300;
    font-size: 15px !important;
    margin-bottom: 100px;
}



  @media (max-width: 767.98px) {   
    .centerimage{
      width: none;
      margin: 0 auto;
        max-width:320px;
        float: none;
        width: 400px;
        }
    .abouterika{
        width: none;
        margin: 0 auto;
            max-width:320px;
            float: none;
            width: 400px;
            }
      }