body {  
    background-color: white;
}

// .container{
//     // position: relative;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     height: 100%;
//     background: white;
//     margin: auto;
//   }

  .bg-white{
    // position: relative;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // height: 100%;
    background-color: white;
    background: white;
    // margin: auto;
  }

  .centerimage {
    width: 50%;
    margin: 0 auto;
  }



  
  @media (max-width: 767.98px) {   
    .centerimage{
      width: none;
      margin: 0 auto;
        max-width:320px;
        float: none;
        width: 400px;
        
        }
      }